/* Flex布局混合器 */
@mixin flex($direction: column, $align: normal, $justify: normal) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

.page {
	@include flex();
	min-height: 100vh;
	width: 100vw;
	min-width: 1366px;
}